{% load static %}


<span class="title">Comments</span>

{% for c in p.postcommentsmodel_set.all %}

    <!-- * From Uiverse.io by zanina-yassine */  -->
    <div class="card">
        <div class="comments">
            <div class="comment-container">
                <div class="user">
                    <div class="user-pic">
                        {% if p.posted_by.profile_picture %}
                            <figure class="w-6">
                                <img loading="lazy" src="{{ c.commented_by.profile_picture.url }}" alt="{{ c.commented_by.username }} profile picture" class="rounded-full">
                            </figure>
                        {% else %}
                            <figure class="w-6">
                                <img loading="lazy" src="{% static 'icons/default_user_pic.webp' %}" alt="default profile picture" class="rounded-full">
                            </figure>
                        {% endif %}
                    </div>
                    <div class="user-info">
                        <span>{{ c.commented_by.username|default:"Anonymous" }}</span>
                        <p>{{ c.comm_date }}</p>
                    </div>
                </div>
                <p class="comment-content">
                    {{ c.comment }}
                </p>
            </div>
        </div>
    </div>

    {% empty %}
        <p class="mt-2">If you are logged in, be the first to leave a comment</p>

{% endfor %}
