{% if user.is_authenticated %}
    
    <form class="mb-6 bg-blue-100 p-2 rounded-lg" action="." enctype="multipart/form-data" method="post">

        {% csrf_token %}

        {% for cf in comment_form %}
            
            {% if cf.name == 'comment' %}
                <div id="comment-wrapper">
                    {{ cf }}
                </div>
            {% else %}
                <div class="w-full lg:ml-4 lg:w-5/12 mb-4" id="picture-wrapper">
                    {{ cf }}
                </div>
            {% endif %}

        {% endfor %}

        <input type="hidden" name="post" value="{{ p.id }}">
        <button 
            class="cursor-pointer transition-all bg-blue-500 text-white px-2 py-2 rounded-lg
                border-blue-600
                border-b-[4px] hover:brightness-110 hover:-translate-y-[1px] hover:border-b-[6px]
                active:border-b-[2px] active:brightness-90 active:translate-y-[2px]" 
            type="submit" 
            name="submit_comment">Comment</button>
    
    </form>

{% endif %}