<style>
    textarea{
        width: 100%;
        padding: 0.5rem;
        border-width: 1px;
        border-radius: 0.375rem; /* 6px */
        resize: none;
    }

    #input-file input[type="file"] {
        width: 100%;
        cursor: pointer;
        color: #111827;
    }

    #input-file input[type="file"]::file-selector-button {
        color: #ecf2fb; /* Light gray */
        background-color: #374151; /* Dark gray */
        border-radius: 0.375rem;
        padding: 0.5rem;
        border: none;
        cursor: pointer;
    }
</style>