{% load static %}
<section class="">
    {% for p in posts %}
        <section class="bg-white shadow-md rounded px-8 pt-6 pb-8 my-8">

            <a href="{% url 'user_profile' p.posted_by.username %}" target="_blank" rel="noopener noreferrer">

                <div id="poster" class="flex items-center gap-4">
    
                    {% if p.posted_by.profile_picture %}
                        <figure class="w-10">
                            <img src="{{ p.posted_by.profile_picture.url }}" alt="{{ p.posted_by.username }} profile picture" class="rounded-full">
                        </figure>
                    {% else %}
                        <figure class="w-10">
                            <img src="{% static 'icons/default_user_pic.webp' %}" alt="default profile picture" class="rounded-full">
                        </figure>
                    {% endif %}
        
                    <p>{{ p.posted_by.username|default:"Anonymous" }}</p>
    
                </div>

            </a>
            

            <i>{{ p.pub_date|date }}</i>
            
            <p class="mt-2 max-w-sm">{{ p }}</p>
            
            {% if p.picture %}
                <figure class="mt-2 flex justify-center lg:w-5/6 lg:mx-auto">
                    <img src="{{ p.picture.url }}" alt="" srcset="">
                </figure>
            {% endif %}

            <span class="flex items-center my-4 mx-auto">
                <span class="h-px flex-1 bg-gray-400"></span>
                <span class="h-px flex-1 bg-gray-400"></span>
            </span>

            {% include 'partials/comment_form.html' %}

            {% include 'partials/comments.html' %}

        </section>
    {% endfor %}
</section>