{% extends 'layouts/base.html' %}
{% load static %}

{% block styles %}
    {% include 'users/partials/registration_styles.html' %}
{% endblock %}

{% block title %}Sign-up{% endblock %}

{% block content %}

    <section class="relative flex flex-wrap lg:h-screen lg:items-center">
        <div class="w-full px-4 py-12 sm:px-6 sm:py-16 lg:w-1/2 lg:px-8 lg:py-24">
            <div class="mx-auto max-w-lg text-center">
                <h1 class="text-2xl font-bold sm:text-3xl">Get started today!</h1>
        
                <p class="mt-4 text-gray-500">
                    Good choice Saiyan, register now and start posting.
                </p>
            </div>
            
            {% include 'users/partials/registration_form.html' %}
            
        </div>
    
        <div class="relative h-64 w-full sm:h-96 lg:w-1/2">
            <img
                src="{% static 'login/ta_bn_login.webp' %}"
                alt=""
                class="absolute inset-0 h-full w-full object-cover hidden lg:block"
            />
        </div>
    </section>

{% endblock %}
