<form action="." method="post" class="mx-auto mb-0 mt-8 max-w-md space-y-4">
    <div class="col-span-6 sm:col-span-3">

        {% for f in form %}
            
            {% csrf_token %}

            {% if f.errors %}
                <ul>
                    {% for err in f.errors %}
                        <li class="bg-red-500 p-1 my-1 mx-auto text-center rounded-lg">{{ err|cut:"User model with this" }}</li>
                    {% endfor %}
                </ul>
            {% endif %}

            <div id="fields" class="mb-4">

                <label class="block text-sm font-medium text-gray-700">
                    {{ f.label_tag }}
                </label>
    
                {{ f }}

            </div>

        {% endfor %}

    </div>


    <button type="submit" class="inline-block rounded-lg bg-blue-500 px-5 py-3 text-sm font-medium text-white">
        Sign up
    </button>
</form>